* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit {
  margin: 30px 0 0 20px;
}

.item {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.item2 {
  margin-bottom: 20px;
}

.link {
  margin-top: 20px;
  display: flex;
}

.link1 {
  padding-right: 10px;
  border-right: 1px solid block;
}

.link2 {
  margin-left: 10px;
}