* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index h2 {
  margin-top: 30px;
  margin-left: 30px;
}

.index table {
  margin: 10px 0 0 30px;
  border-collapse: separate;
  border-spacing: 10px;
}

.link {
  color: black;
}

.link:hover {
  color: white;
  background-color: black;
}

.new h2 {
  margin: 30px 0 0 30px;
}

.box-wrapper {
  margin: 20px 0 30px 30px;
}

.box {
  margin-bottom: 20px;
}

.error-message-wrapper {
  margin-left: 30px;
  width: 600px;
}

.error-count-wrapper {
  background-color: red;
}

.error-count {
  padding: 5px 0 5px 20px;
  color: white;
}

.error-list {
  padding: 40px 0 40px 80px;
  border: 2px solid red;
}