* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flash {
  margin: 30px 0 0 50px;
}

.item-wrapper {
  margin: 30px 0 30px 50px;
}

.item {
  display: flex;
}

.item1 {
  margin-bottom: 30px;
}

.link-wrapper {
  margin-left: 30px;
  display: flex;
}

.link1 {
  padding-right: 10px;
  border-right: 1px solid black;
}

.link2 {
  margin-left: 10px;
}